################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SGAAmbiental.API/.vs/SGAAmbiental.API/v16/Server/sqlite3
