<div class="animated fadeIn">
  
  <div class="row">
    <div class="container-fluid">
      <div class="card">
        <div class="card-header">
          <strong>Barragem</strong>
        </div>
        <div class="card-body">
          <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
            
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="text-input">Identificação</label>
              <div class="col-md-9">
                <input type="text" id="text-input" name="text-input" class="form-control" >
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="text-input">Tipo</label>
              <div class="col-md-9">
                <input type="text" id="text-input" name="text-input" class="form-control" >
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="text-input">Nome</label>
              <div class="col-md-9">
                <input type="text" id="text-input" name="text-input" class="form-control" >
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="text-input">Localização</label>
              <div class="col-md-9">
                <input type="text" id="text-input" name="text-input" class="form-control" >
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="text-input">Volume</label>
              <div class="col-md-9">
                <input type="text" id="text-input" name="text-input" class="form-control" >
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="text-input">Lavra</label>
              <div class="col-md-9">
                <input type="text" id="text-input" name="text-input" class="form-control" >
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="text-input">Tipo de Rejeito</label>
              <div class="col-md-9">
                <input type="text" id="text-input" name="text-input" class="form-control" >
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="text-input">Vazão</label>
              <div class="col-md-9">
                <input type="text" id="text-input" name="text-input" class="form-control" >
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="text-input">Status</label>
              <div class="col-md-9">
                <input type="text" id="text-input" name="text-input" class="form-control" >
              </div>
            </div>
                      
          </form>
        </div>
        <div class="card-footer">
          <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Salvar</button>
          <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Apagar</button>
        </div>
      </div>
     

</div>
