
<div class="animated fadeIn">
  
    <div class="row">
      <div class="container-fluid">
        
     
  
        <div class="table-responsive">
                  <table class="table  table-sm table-bordered  table-striped table-light">
          <thead >
            <tr>
              <th scope="col">Identificação</th>
              <th scope="col">Tipo</th>
              <th scope="col">Nível</th>
            </tr>
          </thead>
          <tbody >
            <tr *ngFor="let ocurrence of ocurrenceList" >
              <td>{{ocurrence.identificacao}}</td>
              <td>{{ocurrence.tipo}}</td>
              <td>{{ocurrence.nivel}}</td>
            
    
            </tr>
         
          </tbody>
        </table>
      </div>

  </div>
