<div class="animated fadeIn">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            Selecione a Barragem
          </div>
          <div class="card-body">
            <div class="animated fadeIn">
              <div class="row">
                <div class="col-sm-12 col-md-12">
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="tipo-processamento">Barragem</label>
                    <div class="col-md-9">
                      <select  id="tipo-processamento" name="proccessingType" class="form-control" >
                        <option >Barragem 1</option>
                      </select>
                    </div>
                  </div>
            
                  
              
              </div><!--/.row-->
              
            </div>
          </div>
          
        </div>
        <div class="card-footer">
          <a type="button" class="btn btn-sm btn-primary" [routerLink]="['../monitor-dam']" ><i class="fa far fa-file"></i> OK</a>
        </div>
      </div>
    </div>
  </div>
  
           
           
            