<div class="animated fadeIn">
  
    <div class="row">
      <div class="container-fluid">
  
       <div class="table-responsive-sm">
        <table class="table table-bordered  table-striped table-light">
          <thead >
            <tr>
              <th scope="col">Identificação</th>
              <th scope="col">Nome</th>
              <th scope="col">Documento</th>
              <th scope="col">Telefone</th>

            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let affected of affectedList">
              <th scope="row">{{affected.id}}</th>
              <td>{{affected.name}}</td>
              <td>{{affected.doc}}</td>
              <td>{{affected.phone}}</td>
             
            </tr>
         
          </tbody>
        </table>
       </div>
  
  </div>
  